<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-image: url('./static/img/couleur-waves-1215449_1920.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 1500px;
            height: 2500px;
        }
    </style>
</head>
<body>
    <script>

    </script>
</body>
</html>