<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤&탁 캐릭터</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-image: url('./static/img/couleur-waves-1215449_1920.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 1500px;
            height: 2500px;
        }

        .tlli{
            display: grid;
            place-self: center;
        }
    </style>
</head>
<body>
    <div class="tlli"></div>
        <!-- 이름      성별/나이
    사진    시나리오호   키
            소속페어     생일 -->
</body>
</html>