<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개트친오락실</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
        }

        img{
            top: 50%;
            left: 50%;
        }

        a{
            color: #000;
            font-size: 76px;
            font-weight: bold;
        }

        a:hover{
            color: #00f;
        }
    </style>
</head>
<body>
    <img src="/static/img/HLdpjHpa0AARCUi.jpg" alt="" style="width: 500px; height: 500px;"> <br>
    <a href="https://magma.com/d/bh8y06Vh93">마그마</a> <br>
    <a href="https://r8.whiteboardfox.com/87367591-6388-6178">화이트보드</a>
</body>
</html>